Задание 1.
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [24]:
ratings = pd.read_csv('ml-latest/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [92]:
ratings[['rating', 'movieId']].value_counts().head(1)

rating  movieId
5.0     318        48762
dtype: int64

Задание 2.
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [111]:
data = pd.read_csv('10_pandas/power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [ ]:
# фильтр на несколько условий сразу
# | - условие ИЛИ
# & AND
# () | (() | () & ())

In [150]:
data[ data['country'].str.contains('lat', case=False) ]['country'].unique()

array(['Latvia'], dtype=object)

In [151]:
data[ data['country'].str.contains('Lit', case=False) ]['country'].unique()

array(['Lithuania'], dtype=object)

In [130]:
data[ data['country'].str.contains('Est', case=False) ]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

In [201]:
filtered_countries = data[ (data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia')]

In [199]:
filtered_category = data[ (data['category']== 4) | (data['category']== 12) | (data['category']== 21) ]

In [200]:
filtered_year = data[ (data['year'] >= 2005) & (data['year'] <= 2010)]

In [209]:
filtered_quantity = data[ (data['quantity'] >= 0) ]

In [239]:
filtered_all = data[ ((data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia')) & ((data['category']== 4) | (data['category']== 12) | (data['category']== 21)) & ((data['year'] >= 2005) & (data['year'] <= 2010)) & ((data['quantity'] >= 0))]

In [243]:
sum_q = filtered_all['quantity'].sum()
print('Cуммарное потребление стран Прибалтики...: ', sum_q)

Cуммарное потребление стран Прибалтики...:  240580.0

Задание 3.
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [317]:
df = pd.read_html('https://fortrader.org/quotes', encoding='utf-8')[4]
df[['Название', 'Цена']]

                               Название      Цена
0           Google Акции Google (GOOGL)  2 843.21
1                   IBM Акции IBM (IBM)    115.86
2     Microsoft Акции Майкрософт (MSFT)    329.46
3              Apple Акции Apple (AAPL)    156.71
4                  Yandex Акции яндекса     70.37
5                   Toyota Акции Тойоты    179.56
6      Volkswagen Курс акций Volkswagen    164.08
7            Amazon Акции Amazon (AMZN)  3 502.45
8           Boeing Акции Boeing Company    198.80
9              Intel Акции Intel (INTC)     48.80
10            Coca-Cola Акции Coca-Cola     53.76
11         Netflix Акции Netflix (NFLX)    667.90
12            Pfizer Акции Pfizer (PFE)     53.95
13                        AMD Акции AMD    154.93
14  Walt Disney Акции Walt Disney (DIS)    148.01
15           NVIDIA Акции NVIDIA (NVDA)    314.46
16           PayPal Акции PayPal (PYPL)    188.13
17         Facebook Акции Facebook (FB)    332.75
18             Tesla Акции Тесла (TSLA)  1 079.70
19            Twiter Цена акций твитера     46.97
20    Hasbro Цена на акции Hasbro, Inc.     98.88
21                               Сименс    146.40
22                                 Qiwi      8.33
23     Mastercard Акции Mastercard (МА)    324.32
24         Moderna Акции Модерна (MRNA)    329.35
25        Макдональдс Акции Макдональдс    249.96
26                                 MSCI    621.16
27                             FIXPRICE      7.33
28                 Zoom Акции Zoom (ZM)    220.37
29     HeadHunter Акции HeadHunter (HH)     51.78
30                                   PG    147.44
31                                  JNJ    159.19