Задание 1.
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [33]:
import pandas as pd

In [34]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [233]:
def rate(rating):
    if rating <= 2:
        return 'low rate'
    elif rating <= 4:
        return 'mid rate'
    else:
        return 'high rate'

ratings['class'] = ratings['rating'].apply(rate)
ratings.head()

   userId  movieId  rating   timestamp     class
0       1       31     2.5  1260759144  mid rate
1       1     1029     3.0  1260759179  mid rate
2       1     1061     3.0  1260759182  mid rate
3       1     1129     2.0  1260759185  low rate
4       1     1172     4.0  1260759205  mid rate

Задание 2.
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1'Центр': ['москва', 'тула', 'ярославль'],
2
3'Северо-Запад': ['петербург', 'псков', 'мурманск'],
4
5'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [98]:
df = pd.read_csv('ml-latest-small/keywords.csv')
df.head(1)

  keyword     shows
0      вк  64292779

In [99]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [100]:
geo_data

{'Центр': ['москва', 'тула', 'ярославль'],
 'Северо-Запад': ['петербург', 'псков', 'мурманск'],
 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [234]:
def reg_name(row):
    for k, v in geo_data.items():
        for i in v:
            if i in row['keyword']:
                return k
            
    return 'undefined'
            
df['region'] = df.apply(reg_name, axis = 1)
df[(df['region'] == 'Северо-Запад')].head()

                                                keyword   shows        region
370                            авито ру санкт петербург  425134  Северо-Запад
564                           погода в санкт петербурге  292489  Северо-Запад
1236                               банк санкт петербург  174375  Северо-Запад
1346                                    санкт петербург  144232  Северо-Запад
2121  электронный дневник санкт петербургского образ...   94835  Северо-Запад

Задание 3. (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1.В переменную years запишите список из всех годов с 1950 по 2010.

2.Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

    1.для каждой строки пройдите по всем годам списка years
    2.если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
    3.если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3.Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

4.Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [109]:
movies = pd.read_csv('ml-latest-small/movies.csv')

In [110]:
years = [i for i in range(1950, 2011)]

In [111]:
def production_year(row):
    for year in years:
        if str(year) in row:
            return year

    return 1900

In [235]:
movies['Year'] = movies['title'].apply(production_year)
movies.head()

,movieId,title,genres,Year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [236]:
merged = ratings.merge(movies, on='movieId', how='left')
merged.head()

,userId,movieId,rating,timestamp,class,title,genres,Year
0,1,31,2.5,1260759144,mid rate,Dangerous Minds (1995),Drama,1995
1,1,1029,3.0,1260759179,mid rate,Dumbo (1941),Animation|Children|Drama|Musical,1900
2,1,1061,3.0,1260759182,mid rate,Sleepers (1996),Thriller,1996
3,1,1129,2.0,1260759185,low rate,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,1981
4,1,1172,4.0,1260759205,mid rate,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,1989

In [237]:
merged.groupby('Year').agg('mean')['rating'].sort_values(ascending = False)

Year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
          ...
2005    3.448434
2003    3.444777
1996    3.426600
1997    3.415764
2000    3.356104
Name: rating, Length: 62, dtype: float64